body{
    background-image: url(../img/pattern.jpg);
    margin: 0;
}

/* Header */
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
   
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
}

nav{
    margin-right: 30px;
}

header ul li{
    list-style: none;
    display: inline;
    margin: 3px;
}

header ul a{
    text-decoration: none;
}

/*  margin = jarak ruangan terhadap ruangan di sekitar
    padding = jarak benda (di dalam) ke tembok ruangan 
    border = temboknya */

/* Section artikel */
section{
    background-color: white;
    margin: 80px 150px 5px;
    padding: 20px;
}

article{
    border-bottom: 2px solid black;
    margin: 20px;
}

article a{
    text-decoration: none;
}

section h1{
    text-align: center;
    margin-bottom: 50px;
}

/* Footer */
footer{
    background-color: black;
    padding: 5px;
    margin-top: 20px;
}

footer h5{
    color: white;
    text-align: center;
}